<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="components/bootstrap/docs/assets/css/bootstrap.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body ng-app="App">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="components/es5-shim/es5-shim.js"></script>
<script src="components/json3/lib/json3.min.js"></script>
<![endif]-->

<div class="container">

    <div class="row row-alert">
        <div class="span12">
            <div flash-alert active-class="in" class="alert-flash fade" duration="0">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <strong class="alert-heading">{{flash.type}}</strong>
                <span class="alert-message">{{flash.message}}</span>

                <p>This alert:</p>
                <ul>
                    <li>Shows all alerts</li>
                    <li>Does not fade away</li>
                    <li>Has a close button</li>
                    <li>Works outside of controller scope</li>
                </ul>
            </div>

        </div>
    </div>

    <div ng-view></div>

    <div class="row row-alert">
        <div class="span12">
            <div id="alert-1" flash-alert active-class="in" class="alert-flash fade" duration="0">
                <button type="button" class="close" ng-click="hide()">&times;</button>
                <i class="icon-ok-sign"></i>
                <strong class="alert-heading">{{flash.type}}</strong>
                <span class="alert-message">{{flash.message}}</span>
                <h4 class="pull-right">Alert #1</h4>
            </div>

        </div>
    </div>
</div>

<script src="components/jquery/jquery.js"></script>
<script src="components/bootstrap/docs/assets/js/bootstrap.min.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/angular-route/angular-route.js"></script>
<script src="angular-flash.js"></script>
<script src="scripts/controllers/main-ctrl.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
