<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">angular-flash <i class="icon-bolt"></i></a>

            <div class="btn-group">
                <button class="btn btn-info" ng-click="info()"><i class="icon-info-sign"></i> Info</button>
                <button class="btn btn-info" ng-click="info1()">Alert #1</button>
            </div>

            <div class="btn-group">
                <button class="btn btn-warning" ng-click="warn()"><i class="icon-warning-sign"></i> Warning</button>
                <button class="btn btn-warning" ng-click="warn1()">Alert #1</button>
            </div>

            <div class="btn-group">
                <button class="btn btn-success" ng-click="success()"><i class="icon-ok-sign"></i> Success</button>
                <button class="btn btn-success" ng-click="success1()">Alert #1</button>
            </div>

            <div class="btn-group">
                <button class="btn btn-danger" ng-click="error()"><i class="icon-exclamation-sign"></i> Error</button>
                <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" ng-click="error1()">Alert #1</a></li>
                    <li><a href="" ng-click="dismissAlert1()">Dismiss Alert #1</a></li>
                </ul>
            </div>

            <button class="btn btn-primary" ng-click="all()"><i class="icon-flag"></i> All</button>
        </div>
    </div>
</div>

<div class="row row-alert">
    <div class="span12">
        <div flash-alert="info" active-class="in" class="alert-flash fade">
            <i class="icon-info-sign"></i>
            <strong class="alert-heading">Ahem...</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>

<div class="row row-alert">
    <div class="span12">
        <div flash-alert="warn" active-class="in" class="alert-flash fade">
            <i class="icon-warning-sign"></i>
            <strong class="alert-heading">Not so good.</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>

<div class="row row-alert">
    <div class="span12">
        <div flash-alert="success" active-class="in" class="alert-flash fade">
            <i class="icon-ok-sign"></i>
            <strong class="alert-heading">Nice work!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>

<div class="row row-alert">
    <div class="span12">
        <div flash-alert="error" active-class="in" class="alert-flash fade">
            <i class="icon-exclamation-sign"></i>
            <strong class="alert-heading">Yikes!</strong>
            <span class="alert-message">{{flash.message}}</span>
        </div>
    </div>
</div>
